<div class="row">
  <div class="pull-right">
    <button ng-click="logout()">
      Logout
    </button>
  </div>
  <div class="col-md-3">
    <transaction-deposit></transaction-deposit>
  </div>
  <div class="col-md-3">
    <transaction-to-other></transaction-to-other>
  </div>
  <div class="col-md-3">
    <transaction-withdraw></transaction-withdraw>
  </div>
  <div class="col-md-3">
    <transaction-statement></transaction-statement>
  </div>
</div>
